.main {
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  font-family: var(--font-mono);
  margin-top: 2rem;
}
.flexContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  min-height: 80vh;
  gap: 20px;
}
